body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body,input,select {
    font-family: 'Source Sans Pro', sans-serif;
}

p, select, div {
    font-size: 16px;
}

h2 {
    color: #838078;
    text-transform: uppercase;
}

b {
    font-weight: 900;
}

.hint {
    font-size: 16px;
    font-style: italic;
}

.hint.small {
    font-size: 14px;
}

.hint.indent {
    display: inline-block;
    margin-top: 12px;
    margin-left: 12px;
}

.link-section {
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

select.form-control {
    width: initial;
    display: initial;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.header img {
    width: 200px;
}

#mail-content {
    border: 1px solid #a0a0a0;
    padding: 10px;
}

@media screen and (max-width: 767px) {
}


